    {% extends "templates/main_2.html" %}
{% block content %}


    <div class = "container" style = "background: white; width: 800px; height: 100%">

             
     <div class = "container" style = "width: 700px; height: 100%; padding-top: 70px">


 <div class = "row"> <h2 class = "title2 text-center">Data Mining</h2></div>
          <div class="panel-heading">
                <h4 class="panel-title">  
<a href="static/documents/SFO/Data_Mining_Report.pdf" class = "lab">Predicting Flight Delays</a> 
   </h4>
              </div>
 <div class = "row"><h2 class = "title2 text-center">Computational Modeling</h2> </div>

              <div class="panel-heading">
                <h4 class="panel-title"> <a href = "static/documents/modeling/couette_flows.pdf" class = "lab">Modeling Couette Flows</a>   </h4>
              </div>
         <div class="panel-heading">
                <h4 class="panel-title">
        <a href = "static/documents/modeling/DDE_report.pdf" class = "lab">Modeling Cloud Computing with Delay Differential Equations</a>   </h4>
              </div>
        <div class="panel-heading">
                <h4 class="panel-title"> <a href = "static/documents/modeling/financial_economics.pdf" class = "lab">Modeling Stocks with Stochostic Differential Equations</a>   </h4>
              </div>
          
            
            

  </div></div>
     </div>
   </div>
{% endblock %}

 
