{% extends "templates/main_2.html" %}
{% block content %}

<div class = "container" style = "width: 800px; height: 100%">
<div class = "container" style = "width: 700px; height: 100%; padding-top: 70px">
<div class = "row" style = "margin-left: -20px">
<div class = "col-md-4 back2">
  <div class ="back">
<p class = "quote"> Education is the most powerful weapon which you can use to change the world. </p>
<h5> Nelson Mandela </h5>
</div>
</div>
<div class = "col-md-4 back2">
  <div class = "back">
<p class = "quote"> Competition can make people hallucinate opportunities where none exist. </p>
<h5> Peter Thiel </h5>
</div>
</div>

<div class = "col-md-4 back2">
  <div class = back>
<p class = "quote"> Becoming is better than being</p>
<h5> Carol Dweck </h5>
</div>
</div>
</div>

<div class = "row" style = "margin-left: -20px">
<div class = "col-md-4 back2">
  <div class ="back">
<p class = "quote"> We must be the change we wish to see in the world </p>
<h5> Mahatma Ghandi </h5>
</div>
</div>
<div class = "col-md-4 back2">
  <div class = "back">
<p class = "quote"> Everything around you that you call life was made up by people that were no smarter than you and you can change it, you can influence it, you can build your own things that other people can use.</p>
<h5> Steve Jobs</h5>
</div>
</div>

<div class = "col-md-4 back2">
  <div class = back>
<p class = "quote"> You just keep pushing. You just keep pushing. I made every mistake that could be made. But I just kept pushing </p>
<h5> Rene Descartes </h5>
</div>
</div>
</div>
  	</div>
  </div>
{% endblock %}
