{% extends "templates/main.html" %}
{% block content %}
<div class = "container">
<div class="row" style = "margin-top: 400px; font-family: 'Lato', sans-serif;">
  <div class="col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-md-4 col-sm-4 col-xs-6" >
  
<div class="panel panel-default" style = " "  >
  <div class="panel-heading">
    <!-- <img src = "static/images/me.png" width = "70" class = "img-circle" style = "margin: auto"> -->
    <h1 class="panel-title ">Hi, I'm Ted!</h1>
  </div>
  <div class="panel-body " style = "">
    <p>I'm an engineer, and  I created this website as a portfolio of some of my work.  
      <!-- Check out my resume <a href = 'static/documents/resume.pdf'>here</a>,  -->
      Feel free to connect with me.</p>
  
<a href="http://github.com/samoretc" class="icon-button github"><i class="fa fa-github icon-github"></i><span></span></a>
<a href="http://linkedin.com/in/tedsamore" class="icon-button linkedin"><i class="fa fa-linkedin icon-linkedin"></i><span></span></a>
<a href="mailto:tedsamore@gmail.com" class="icon-button email"><i class="fa fa-envelope icon-email"></i><span></span></a>
  </div>
</div>
  </div>
 </div>

{% endblock %}