<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ted's Website</title>
    <link href="static/stylesheets/style2.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <ul class = "bar">
    <li><a href="index.html">Home</a></li>
    <li><a href ="#" class = "notActive">Computing Projects</a>
      <ul>
        <li><a href="igem.html">iGEM Website and Web App</a></li>
        <li><a href="research.html">Computational Simulation of Chromatography</a></li>
        <li><a href="springmass.html">Khan Academy Programs</a>
        <li><a href="compmodeling.html">Computational Modeling</a>
                  <li><a href="compmodeling.html">Data Mining</a>
        </li>
      </ul>
    </li>
    <li><a href="#">Mechatronics Projects</a>
      <ul>
        <li><a href="simon.html">Simon Says</a></li>
        <li><a href="robot.html">Line following Robot</a></li>
      </ul>
    </li>
    <li><a href="favquotes.html">Favorite Quotes</a></li>
  </ul>   
  	<div class = "wrapper">
  	<div class = "container">
       <div class = "card">
      
    		  <h1 id = "title">Khan Academy Programs</h1>
          <p style = "padding: 10px">I've made some programs on the  computer science platform on Khan Academy. I am a huge fan of theirs and of online learning. Click <a href = "https://www.khanacademy.org/profile/TedSamore24/programs">here</a> to see the all of my programs on their site. I've included a few of my favorites below.</p>

                        <div class = "program" style ="width: 420px; margin: auto">
            <h2><a href="https://www.khanacademy.org/computer-programming/sort-visualization/4943977264971776">Sort Visualization</a></h2> <script src="https://www.khanacademy.org/computer-programming/sort-visualization/4943977264971776/embed.js?editor=no&amp;buttons=no&amp;author=yes&amp;embed=yes"></script> 
            </div><br>
            <div class = "program" style ="width: 420px; margin: auto">
            <h2><a href="https://www.khanacademy.org/computer-programming/spring-simulation/5334715163738112">Spring Simulation</a></h2> <p> Drag and drop the mass to see it oscilate and the change in energy</p><script src="https://www.khanacademy.org/computer-programming/spring-simulation/5334715163738112/embed.js?editor=no&amp;buttons=no&amp;author=yes&amp;embed=yes"></script> 
            </div><br>
                        <div class = "program" style ="width: 420px; margin: auto">
            <h2><a href="https://www.khanacademy.org/computer-programming/shadow-simulation/5273216969867264">Shadow Simulation</a></h2> <p> Click on the colored lights to see changes how the colors of the shadows change. </p> <script src="https://www.khanacademy.org/computer-programming/shadow-simulation/5273216969867264/embed.js?editor=no&amp;buttons=no&amp;author=yes&amp;embed=yes"></script>
            </div>
        </div>

     <!-- <h1 id = "title">Line Following Robot</h1>
      <div class = "description"><img src = "simon1.png" width = "300" id = "welcomeImage"></div>
     <a href = "Simon Presentation.pdf">Simon Slides</a> -->
  	</div>

  </div>
  </body> 

</html>
