    {% extends "templates/main_2.html" %}
{% block content %}

    <div class = "container" style = "background: white; width: 800px; height: 100%">

             
     <div class = "container" style = "width: 700px; height: 100%; padding-top: 70px">
      <div class = "row"> <h2 class = "title2 text-center">Simon</h2></div>
         <div class = "row"> 
          <div class = "col-md-6"> 
          <p style = "padding: 10px">For our final Mechatronics Project, we created the memory game Simon. In case you've never heard of it, click <a href = http://www.freegames.ws/games/kidsgames/simon/mysimon.htm>here</a> to view an online version. Click 
            <a href = "static/images/mechatronics/Simon_Presentation.pdf">here</a> to view our presentation slides.    </p>
          </div>

        <div  class= "col-md-6">
          <div class = "pic"><img src = "static\images\mechatronics\simon1.webp" width = "300" id = "welcomeImage"></div>
          <div class = "pic"><img src = "static\images\mechatronics\simon2.webp" width = "300" id = "welcomeImage"></div>
        </div>
      </div>

         <div class = "row" style = "margin-top: 30px"> <h2 class = "title2 text-center">Line Following Robot</h2></div>
         <div class = "row"> 
          <div class = "col-md-6"> 
          <p style = "padding: 10px">
For one of final labs in ME430, we made a line-following robot to go around a track. We used two IR sensors, two seven-segment displays, as well as a two DC motors. Everything that could go wrong went wrong when bulding ours - even our breadboard burned out. It could not have been more gratifying when we finally got it to work! 
           </p>
          </div>

        <div  class= "col-md-6">
          <div class = "pic"><img src = "static/images/mechatronics/linerobot.webp" width = "300"></div>
        
        </div>
      </div>
   
            

  </div></div>


{% endblock %}

 