<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ted's Website</title>

<link rel="stylesheet" type="text/css"
  href="static/stylesheets/style2.css" />  </head>
  <body>
    <ul class = "bar">
    <li><a href="index.html">Home</a></li>
    <li><a href ="#" class = "notActive">Computing Projects</a>
      <ul>
        <li><a href="igem.html">iGEM Website and Web App</a></li>
        <li><a href="research.html">Computational Simulation of Chromatography</a></li>
        <li><a href="springmass.html">Khan Academy Programs</a>
        <li><a href="compmodeling.html">Computational Modeling</a>
                  <li><a href="compmodeling.html">Data Mining</a>
        </li>
      </ul>
    </li>
    <li><a href="#">Mechatronics Projects</a>
      <ul>
        <li><a href="simon.html">Simon Says</a></li>
        <li><a href="robot.html">Line following Robot</a></li>
      </ul>
    </li>
    <li><a href="favquotes.html">Favorite Quotes</a></li>
  </ul>   
  	<div class = "wrapper">
  	<div class = "container">
          <h1 id = "title">Computational Simulation of Chromatography</h1>
                    <p style = "width: 60%; margin: auto">I worked on this research project for about two years in college. I was fortunate enough to have a great faculty member, Dave Goulet, to advise me on this project, and I gave four presentations on it (see my resume for details).  </p> <br> <br>
   
          <p style = "width: 60%; margin: auto; line-height: 1.5;"> <i>Project Abstract: A numerical simulation of the chromatography column was developed, based on solving systems of partial differential equations. These equations included stiff nonlinear reaction, convection, diffusion, and absorption terms, describing behavior on several spatial and temporal scales. This type of problem is notoriously difficult to solve. Stable and accurate schemes were achieved via operator splitting, which allowed different model components to be treated with specialized numerical techniques. The PDE solvers were coupled to optimization routines and experimental data, allowing initial model parameter estimates to be iteratively refined so as to best approximate the data. </i>
            <br> <br>
          
          
            




  	</div>
  </div>
  </body>
</html>
