<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Ted's Website</title>

<link rel="stylesheet" type="text/css"
  href="static/stylesheets/style2.css" />  </head>
  <body>
    <ul class = "bar">
    <li><a href="index.html">Home</a></li>
    <li><a href ="#" class = "notActive">Computing Projects</a>
      <ul>
        <li><a href="igem.html">iGEM Website and Web App</a></li>
        <li><a href="research.html">Computational Simulation of Chromatography</a></li>
        <li><a href="springmass.html">Khan Academy Programs</a>
        <li><a href="compmodeling.html">Computational Modeling</a>
        <li><a href="compmodeling.html">Data Mining</a>
        </li>
      </ul>
    </li>
    <li><a href="#">Mechatronics Projects</a>
      <ul>
        <li><a href="simon.html">Simon Says</a></li>
        <li><a href="robot.html">Line following Robot</a></li>
      </ul>
    </li>
    <li><a href="favquotes.html">Favorite Quotes</a></li>
  </ul>   
  	<div class = "wrapper">
  	<div class = "container">
            <h1 id = "title">Data Mining</h1>
                 <div class = "bio"><p style= "width: 70%; margin: auto; ">For the final project in our Data Mining Course, we decided we wanted use the power of big data to help solve a real world (and familiar) problem: predicting flight delays. To do this, we obtained a data set including information about all flights leaving San Francisco International Airport (SFO) over the past two years and tried to make predictions. Check out our report <a href="static/documents/SFO/Data_Mining_Report.pdf">here</a> and our presentation slides <a href="static/documents/SFO/Data Mining Presentation.pdf">here</a>.    </p></div>
       </p></div>
  	</div>
  </div>
  </body> 
</html>