<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ted's Website</title>
    <link href="style2.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <ul class = "bar">
    <li><a href="index.html">Home</a></li>
    <li><a href ="#" class = "notActive">Computing Projects</a>
      <ul>
        <li><a href="igem.html">iGEM Website and Web App</a></li>
        <li><a href="research.html">Computational Simulation of Chromatography</a></li>
        <li><a href="springmass.html">Khan Academy Programs</a>
        <li><a href="compmodeling.html">Computational Modeling</a>
                  <li><a href="compmodeling.html">Data Mining</a>
        </li>
      </ul>
    </li>
    <li><a href="#">Mechatronics Projects</a>
      <ul>
        <li><a href="simon.html">Simon Says</a></li>
        <li><a href="robot.html">Line following Robot</a></li>
      </ul>
    </li>
    <li><a href="favquotes.html">Favorite Quotes</a></li>
  </ul>   
  	<div class = "wrapper">
  	<div class = "container">
       <div class = "card">
         <div class = "description">
    		  <h1 id = "title">Simon</h1>
          <p style = "padding: 10px">For our final Mechatronics Project, we created the memory game Simon. In case you've never heard of it, click <a href = http://www.freegames.ws/games/kidsgames/simon/mysimon.htm>here</a> to view an online version. Click <a href = "mechatronics\Simon Presentation.pdf">here</a> to view our presentation slides.    </p>
        </div>
        <div style = "width: 330px; float: right">
  		    <div class = "pic" style = "float: right; margin-top: 90px"><img src = "static\images\mechatronics\simon1.png" width = "300" id = "welcomeImage"></div>
          <div class = "pic" style = "float: right; margin-top: 90px"><img src = "static\images\mechatronics\simon2.png" width = "300" id = "welcomeImage"></div>
        </div>
      </div>
     <!-- <h1 id = "title">Line Following Robot</h1>
      <div class = "description"><img src = "simon1.png" width = "300" id = "welcomeImage"></div>
     <a href = "Simon Presentation.pdf">Simon Slides</a> -->
  	</div>
  </div>
  </body>

</html>
