<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ted's Website</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">About</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Software Projects</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-left">
          <li><a  href="compmodeling.html">Computational Math</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li><a  href="mechatronics.html">Mechatronics</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li><a  href="favquotes.html">Quotes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <img src= "static/images/me.png" class = "img-circle" width = "50px">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <style>
 body{ 

  background: url('http://images4.fanpop.com/image/photos/23900000/Landscape-mother-nature-23969155-1072-712.jpg');
/* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: white;

  height: 110vh;
}
.test {
    padding-left: 20px;
    margin-top: -10px;
  }
a.lab {color: #428bca; }
</style>   
    <div class = "container" style = "background: white; width: 800px; height: 100%">

             
     <div class = "container" style = "width: 700px; height: 100%; padding-top: 70px">

 <div class = "row"> <h2 class = "title2 text-center">App Engine Projects</h2> </div> 
        

          
            
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="http://samoretc-tic-tac-toe.appspot.com">Tic Tac Toe </a><br>
                </h4>
              </div>
            
          
          
            
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="http://samoretc-fitness.appspot.com">Workout Timer</a> <br> <span style ="font-weight: normal
">This is something I made for myself to do time based workouts.</span>
                </h4>
              </div>
<div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="https://conference-central-1083.appspot.com/#/">Conference Central</a> <br> <span style ="font-weight: normal
">Udacity provided the front end for this website. I added cloud endpoints, memcache, and a task queue to improve efficiency. The API I built can be accessed <a href = "https://apis-explorer.appspot.com/apis-explorer/?base=https://conference-central-1083.appspot.com/_ah/api#p/conference/v1/">here</a>. </span>
                </h4>
              </div>

<br>
 <h2 class = "title2 text-center">Khan Academy Programs</h2><br>

 <h4 class = "test">I've made some programs on the Khan Academy computer science platform for fun. Here are some of my favorites!</h4> 
<!--   <div class = "row"><div class = "col-md-1"></div>  <div class = "col-md-10" style = "margin: auto">  <span style ="font-weight: normal;     font-size: 16px; line-height: 1.1;">   I've made some programs on the Khan Academy computer science platform for fun. Here are some of my favorites! </span></div> </div> -->
       <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="https://www.khanacademy.org/computer-programming/sort-visualization/4943977264971776">Sort Visualizer</a><br> 
                </h4>
        </div>
         <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="https://www.khanacademy.org/computer-programming/spring-simulation/5334715163738112">Spring Mass Simulation</a><br>
                </h4>
        </div>      

         <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="https://www.khanacademy.org/computer-programming/shadow-simulation/5273216969867264">Colored Shadows</a><br>
                </h4>
        </div>      
<br>
  <h2 class = "title2 text-center"> iGEM Competition </h2><br> 
 <h4 class = "test">
 During the summer of 2013, I was a part of the Rose-Hulman International Genetic Engineered Machine (iGEM) team. In brief, our project aimed to transform Yeast and E. Coli, so they would need each other to survive. As a part of the competition, we needed to build a website. I contributed to it, and  built the interactive simulation on the modeling page. </h4>
     <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="http://2013.igem.org/Team:RHIT">Team Website</a><br>
                </h4>
      </div>   


  </div></div>
     </div>
   </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 

  </body> 
</html>
